@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.name1{
position: absolute;
width: 805px;
height: 147px;
left: 89px;
top: 100px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;

color: #000000;
}
.count{
position: absolute;
width: 86px;
height: 34px;
left: 89px;
top: 350px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;

color: rgba(0, 0, 0, 0.68);
}
.line{
position: absolute;
width: 1283px;
height: 4px;
left: 89px;
top: 400px;

background: #8487FF;
}
.question1{
position: absolute;
width: 733px;
height: 42px;
left: 90px;
top: 440px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;

color: #000000;
}
.textbtn1{
color: black;
font-size: 25px;
}
#btn1{
position: absolute;
width: 481px;
height: 92px;
left: 79px;
top: 540px;
font-family: 'Montserrat';
}
#btn2{
position: absolute;
width: 680px;
height: 92px;
left: 610px;
top: 540px;
font-family: 'Montserrat';
}
#btn3{
position: absolute;
width: 450px;
height: 92px;
left: 79px;
top: 700px;
font-family: 'Montserrat';
}
#btn4{
position: absolute;
width: 450px;
height: 92px;
left: 580px;
top: 700px;
font-family: 'Montserrat';
}
#btn5{
position: absolute;
width: 600px;
height: 92px;
left: 79px;
top: 860px;
font-family: 'Montserrat';
}
#btn6{
position: absolute;
width: 450px;
height: 92px;
left: 730px;
top: 860px;
font-family: 'Montserrat';
}
#btn7{
position: absolute;
width: 500px;
height: 92px;
left: 79px;
top: 1020px;
font-family: 'Montserrat';

}
#btn8{
position: absolute;
width: 160px;
height: 80px;
left: 79px;
top: 1200px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
background-color: #8487FF;
font-size: 25px;
line-height: 30px;
    
}