@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.Ffa{
    position: absolute;
    width: 805px;
    height: 147px;
    left: 85px;
    top: 93px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;

    color: #000000;
}

.number{
    position: absolute;
    width: 131px;
    height: 34px;
    left: 85px;
    top: 291px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;

    color: rgba(0, 0, 0, 0.68);
}

.line{
    position: absolute;
    width: 1283px;
    height: 4px;
    left: 85px;
    top: 336px;

    background: #8487FF;
}

.quention{
    position: absolute;
    width: 733px;
    height: 42px;
    left: 85px;
    top: 391px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;

    color: #000000;
}

.button{
    box-sizing: border-box;

    position: absolute;
    width: 179px;
    height: 87px;
    left: 85px;
    top: 632px;

    border: 2px solid #8487FF;

}
.button > a{
    position: absolute;
    width: 101px;
    height: 25px;
    left: 124px;
    top: 661px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    color: #8487FF;
}